* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* vh - Altura*/
    width: 100vw; /* vw - Largura*/
    background-image: url('https://picsum.photos/1600/900');
    background-size: cover;       /* cobre toda a tela */
    background-position: center;  /* centraliza a imagem */
    background-repeat: no-repeat; /* evita repetição da imagem */
    margin: 0; 
}

.caixa-maior {
    background-color: black;
    width: 95%; /*Largura*/
    max-width: 420px;
    opacity: 0.8;
    padding: 20px;
    border-radius: 25px;

}

input {
    border: none; /*Borda do Elemento*/
    outline: none; /*borda quando seleciona*/
    padding: 10px; /*Espaçamento interno*/
    border-radius: 24px; /*arredonda as bordas*/
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: white;
    width: calc(100% - 100px);
}

button{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    float: right;
    cursor: pointer;
}

button:hover{
    background-color: #7c7c7c6b;
}
    
.caixa-media{
    margin-top: 20px;

}

.caixa-menor{
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.lupa{
    height: 20px;
}

h2 {
    color: white;
    font-size: 28px; /*Fonte do texto*/
}

.temp {
    color: white;
    margin-top: 20px;
}

.descricao {
    color: white;
    margin-left: 20px ;
    text-transform: capitalize; /* deixa a primeira letra maiucusla*/

}

.umidade{
    color: white;
    margin-top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card {
    width: 70%;
    padding: 25px;
  }

  h1 {
    font-size: 1.8rem;
  }

  input {
    font-size: 1rem;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .card {
    width: 90%;
    padding: 15px;
  }

  h1 {
    font-size: 1.4rem;
  }

  input {
    width: 100%;
  }
}